$font-family:   'lato', san-serif;
$font-color:     rgba(3, 3, 3, 0.938);
$font-size:     12px;
$font-icon:     'FontAwesome';
   

$primary-color: rgb(131,55,55);
$secundary-color:#243a63;
$border-color: #eeee;
$white: white;
$pink: rgb(224, 150, 150);
$gray: rgb(167,167,167);

$top-bar-bgcolor: $secundary-color;
$top-bar-height: 40px;

$header-height: 100px;
$header-bgcolor: black;
$header-padding: 1px;

$page-width: 700px;
$page-padding: 20px;
$border: 1px solid $border-color;

$nav-text-color:#aaccdd;
$boxbg-color:black;
$border-color:red;

